rich
requests
feedparser
pyfiglet
schedule
pyyaml
python-telegram-bot
PySocks
pyrate-limiter
poetry
git+https://github.com/kurtmckee/listparser
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
